.profile__info {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 16px;
}

@media (max-width: 660px) {
    .profile__info {
        justify-content: center;
        margin: 0;
    }
}
