.cards__like-button {
    width: 20px;
    height: 18px;
    background-image: url(../../../images/like-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: white;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    align-self: center;
}

.cards__like-button:hover {
    opacity: .6;
}