@import url(./__grid/cards__grid.css);
@import url(./__card/cards__card.css);
@import url(./__image/cards__image.css);
@import url(./__info/cards__info.css);
@import url(./__title/cards__title.css);
@import url(./__like-container/cards__like-container.css);
@import url(./__like-button/cards__like-button.css);
@import url(./__like-button/_active/cards__like-button_active.css);
@import url(./__delete-button/cards__delete-button.css);
@import url(./__delete-button/_hidden/cards__delete-button_hidden.css);
@import url(./__like-count/cards__like-count.css);

.cards {
    max-width: 882px;
    width: 100%;
    margin: 0 auto;
}

